---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to [your company's name] site.">
	<main>
		<h1>Welcome to [your company's name]'s Site</h1>
		<h3>We're in the process of building version 1, please check back later</h3>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>